/*Variables*/
$color-background:#f7f7f7;
$color-logo:#fed136;
$color-one:#ffffff;
$color-sm:#222222;


/*Global*/
*, *::before, *::after {
	box-sizing: border-box;
}
body {
    width: 1400px;
    height: 2607px;
}

/*Navigation*/
.navigation { 
    margin:0 auto;
    margin-top:50px;
    display:flex;
    gap: 374px;
    //border:1px solid blue;
    /* Style for "Header" */
    width: 933px;
    height: 28px;
}
.navigation a {
    text-decoration: none;
}
.navbar-brand {
    //border: 1px solid red;
    width: 79px;
    height: 28px;
    color: #fed136;
    font-family: 'Dancing Script', cursive;
    font-size: 26px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 41px;
    text-align: left;
    display:flex;
}
.navbar-logo {
    font-style: normal;
    letter-spacing: 1.3px;
    line-height: normal;
}

.navbar-nav {
    //border:1px solid black;
    display: flex;
	justify-content: center;
	align-items: center;
}
.navigation ul {
    //border:1px solid green;
    width: 480px;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    display:flex;
    justify-content: space-between;
}

.navigation li {
    //border: 1px solid red;
    display: inline-block;
    position: relative; 
}

.nav-link {
    width: 45px;
    height: 10px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
  
.navigation a:hover {
    color: #33d9b2; 
}

/* Style for "Golden" */ /*

.container {
    border:1px solid blue;
}
.navbar-brand {
    color:yellow;
} */