/*Variables*/
$color-background:#f7f7f7;
$color-logo:#fed136;
$color-one:#ffffff;
$color-sm:#222222;


/*Global*/
body {
    width: 1400px;
    height: 2607px;
    opacity: -1;
}
/* Style for "Golden" */ /*
width: 79px;
height: 28px;
color: #fed136;
color: #ffffff;
font-family: "Wisdom - Script";
font-size: 26px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 41px;
text-align: left;
/* Text style for "G, olden" */ /*
color: #fed136;
font-style: normal;
letter-spacing: 1.3px;
line-height: normal;
.container {
    border:1px solid blue;
}
.navbar-brand {
    color:yellow;
} */