/*Variables*/
$color-background:#f7f7f7;
$color-logo:#fed136;
$color-one:#ffffff;
$color-sm:#222222;


/*Global*/
*, *::before, *::after {
	box-sizing: border-box;
}
body {
    width: 1400px;
    height: 2607px;
    margin:0 auto;
    box-shadow: 5px 5px 15px #737373;
}
.container {
    //border:1px solid black;
    margin: 0 auto;
    padding:110px 0;
    width:941px;
    text-align: center;
}
.container h2 {
    color: #222222;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: -1px;
    line-height: normal;
}

.container h4{
    margin: 15px auto 80px auto;
    color: #777777;
    font-family: "Droid Serif";
    font-size: 16px;
    font-style: italic;
    letter-spacing: normal;
    line-height: normal;
    font-weight: lighter;
}
.container h3 {
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 75px;
    font-style: normal;
    letter-spacing: -0.45px;
    line-height: normal;
}
.container p{
    font-family: 'Roboto Slab', serif;
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.35px;
    line-height: normal;
}
.home {
    border:1px solid black;
    background-image:url('../images/image.png');
    margin:0 auto;
    width:100%;
    height: 700px;
    color: #ffffff;
    text-align: center;
    position: relative;
}
.home:before {
    content:'';
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.5);
}
/*Navigation*/
.navigation { 
    //border:1px solid blue;
    margin:0 auto;
    margin-top:44px;
    display:flex;
    gap: 374px;
    width: 933px;
    height: 28px;
}
.navigation a {
    text-decoration: none;
}
.navbar-brand {
    //border: 1px solid red;
    width: 79px;
    height: 28px;
    color: #fed136;
    font-family: 'Dancing Script', cursive;
    font-size: 26px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 41px;
    text-align: left;
    display:flex;
    position:relative;
    z-index: 1;
}
.navbar-logo {
    font-style: normal;
    letter-spacing: 1.3px;
    line-height: normal;
}

.navbar-nav {
    //border:1px solid black;
    display: flex;
	justify-content: center;
	align-items: center;
}
.navigation ul {
    //border:1px solid green;
    width: 480px;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    display:flex;
    justify-content: space-between;
}

.navigation li {
    //border: 1px solid red;
    display: inline-block;
    position: relative; 
    z-index: 1;
}

.nav-link {
    width: 45px;
    height: 10px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
  
.navigation a:hover {
    color: #33d9b2; 
}

/*Splash*/
.splash {
    //border:1px solid red;
    height:100%;
    position:relative;
    transform: translateY(-78px);
    display:flex;
    justify-content: center;
    align-items: center;
}
.splash-inner{
    //border:1px solid white;
    transform: translateY(66px);
}
.splash-inner h2 {
    //width: 430px;
    //height: 32px;
    margin:0;
    margin-bottom: 14px;
    font-family: "Droid Serif";
    font-style: italic;
    font-weight: lighter;
    font-size: 40px;
    text-align: center;
    letter-spacing: normal;
    line-height: normal;
}
.splash-inner h1 {
    //width: 844px;
    //height: 55px;
    margin-top: 0;
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 75px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: -1.88px;
    line-height: normal;
}
.btn{
    width: 240px;
    height: 65px;
    background-color: #fed136;
    border:none;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
}

/*Services*/
.services .container{
    height:568px;
}
   
.card-service {
    //border:1px solid red;
    text-align: center;
    
}
.icon {
    width: 68px;
    height: 67px;
    border: 3px solid #fed136;
    background-color: #ffffff;
    border-radius: 50%;
    margin:0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
}
i {
    width: 40px;
    height: 39px;
    color: #fed136;
    font-size: 30px;
    transform: translateY(5px);
}

/*Portfolio*/
.portfolio {
    background-color: #f7f7f7;
}

.card-portfolio {
    background-color: #ffffff;
    width:291px;
    height:393px;
    margin:0 auto;
    margin-bottom: 50px;
    padding-bottom: 27px;
}
.image {
    display:flex;
    justify-content: center;
    align-items: center;
}
.card-portfolio h3 {
    margin-top:29px;
    margin-bottom: 4px;
}
.card-portfolio h4 {
    margin:0;
}

/*Footer*/

.page-footer .container {
    padding:0;
    margin:0 auto;
    //border:1px solid black;
    max-height: 100%;
}
.footer-brand{
    display:flex;
    align-items: center;
}
.page-footer h3 {
    width: 255px;
    height: 14px;
    color: #555555;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    font-style: normal;
    letter-spacing: -0.35px;
    line-height: normal;
}
.footer-icons {
    /*border:1px solid black;*/
    padding:0;
    margin:0;
}

.footer-icons ul {
    padding:0;
    margin:0;
    list-style-type:none;
}
.footer-icons li {
    display: inline-block;
    margin:0;
    font-size:0;
}
.footer-icons i {
    text-decoration:none;
    color:white;
    font-size:30px;
    background-color:black;
    width:60px;
    height:60px;
    line-height:60px;
    border-radius: 50%;
    scale: 0.7;
}

/*Media*/
@media (max-width: 992px) {
    body {
        max-width: 767px;
        max-height: auto;
        box-shadow: none;
    }
    .container {
        //border:1px solid black;
        max-width:90%;
    }
    .services .container{
        height:auto;
    }
    .home {
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
    }
    .navigation { 
        max-width: 90%;
        gap: 10%;
        //border: 1px solid red;
    }
    .page-footer h3 {
        text-align: center;
        margin:10px auto;
    }
    .footer-icons i {
        scale: 0.6;
    }
}
